<!-- ======= Top Bar ======= -->
<div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex justify-content-between">
        <div class="contact-info d-flex align-items-center">
            <i class="bi bi-envelope"></i> <a href="mailto:contact@example.com">dentalvitacentar@example.com</a>
            <i class="bi bi-phone"></i> +1 5589 55488 55
        </div>
        <div class="d-none d-lg-flex social-links align-items-center">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
        </div>
    </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

        <h1 class="logo me-auto"><a asp-area="" asp-controller="Home" asp-action="Index">Dental Vita Centar</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Početna</a></li>
                <li><a class="nav-link scrollto" href="#about">O nama</a></li>
                <li><a class="nav-link scrollto" href="#services">Usluge</a></li>
                <li><a class="nav-link scrollto" href="#departments">Specijalizacije</a></li>
                <li><a class="nav-link scrollto" href="#doctors">Doktori</a></li>
                <li><a class="nav-link" asp-area="" asp-controller="User" asp-action="Blogs">Blog</a></li>
                @if (!User.Identity.IsAuthenticated)
                {
                    <li>
                        <a class="nav-link" asp-area="" asp-controller="User" asp-action="Login">Uloguj se</a>
                    </li>
                }
                else
                {
                    <li>
                        <a class="nav-link" asp-route-userName="@User.Identity.Name" asp-area="" asp-controller="User" asp-action="LoadMyProfile"> @User.Identity.Name </a>
                    </li>
                    <li>
                        <a class="nav-link " asp-area="" asp-controller="User" asp-action="Logout">  Odloguj se </a>
                    </li>

                }
                <li><a class="nav-link scrollto" href="#contact">Kontakt</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        @if (User.Identity.IsAuthenticated)
        {
            <a asp-area="" asp-controller="User" asp-action="Pretrazi" class="appointment-btn scrollto"><span class="d-none d-md-inline">Zakaži svoj</span> termin </a>

        }
        else
        {
            <a asp-area="" asp-controller="User" asp-action="Login" class="appointment-btn scrollto"><span class="d-none d-md-inline">Zakaži svoj</span> termin </a>
        }
        @if (User.IsInRole("Admin"))
        {
            <a asp-area="" asp-controller="User" asp-action="AdminPage" class="appointment-btn scrollto"><span class="d-none d-md-inline">Admin </span> stranica </a>
        }
    </div>
</header><!-- End Header -->