@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    @Html.Partial("_Head");
</head>

<body>
    @Html.Partial("_Header");
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container">
            <h1>Dobro došli u Dental Vita Centar</h1>
            <a href="#about" class="btn-get-started scrollto">Započni</a>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container">

                <div class="row">
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="content">
                            <h3>Zašto izabrati Dental Vita Centar?</h3>
                            <p>
                                Oralna higijena je veoma važna za održavanje zdravlja zuba i usne duplje. Nedovoljnom i neadekvatnom oralnom higijenom stvaraju se savršeni uslovi za razvijanje oboljenja zuba ili desni, kao što su karijes ili parodontopatija.Činjenica je da više od polovine odraslih osoba u našoj državi ne vodi dovoljno računa kada je oralna higijena u pitanju. Nažalost, ovo dovodi do mnogih ozbiljnih zdravstenih problema. Zato je izuzetno važno povećati svest kod ljudi o vođenju računa o oralnom zdravlju. Kao što odlazite na sistematske preglede, tako bi trebalo redovno odlaziti i na stomatološke kontrole kod izabranog zubara.  Vaša stomatološka ordinacija Dental Vita Centar biće tu uvek uz vas i za vas!
                            </p>
                            <div class="text-center">
                                <a href="#" class="more-btn">Učitaj više<i class="bx bx-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-receipt"></i>
                                        <h4>Vaši zubi i osmeh su naša briga</h4>
                                        <p>Zakažite besplatan pregled i konsultujte stručnjaka.Kontaktirajte nas i uverite se sami.</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-cube-alt"></i>
                                        <h4>Stomatologija danas</h4>
                                        <p>Radimo sa savremenim materijalima i tehnologijama kako bi vaš osmeh bio najlepši u roku od 24h!</p>
                                    </div>
                                </div>
                                <div class="col-xl-4 d-flex align-items-stretch">
                                    <div class="icon-box mt-4 mt-xl-0">
                                        <i class="bx bx-images"></i>
                                        <h4>Rezultate daje naporan rad</h4>
                                        <p>Znanje,spremnost,trud i zalaganje jeste opravdanje za veliki broj zadovoljnih pacijenata!</p>
                                    </div>
                                </div>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
                        <a href="https://youtu.be/gKS5dNWVeYY" class="glightbox play-btn mb-4"></a>
                    </div>

                    <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                        <h3>Više O Stomatološkoj Ordinaciji Dental Vita Centar U Prokuplju</h3>
                        <p>Prisutnost na ovom prostoru nam je omogućila kontakt sa vodećim svetskim stomatološkim klinikama, vrhunsku obuku, usavršavanje i pristup najnovijim materijalima najpoznatijih svetskih proizvođača.Sa izrazito ljubaznim osobljem, doktorima ,asistentkinjama i najnaprednijom svetskom tehnologijom, pružamo Vam mogućnost rešavanja svih Vaših stomatoloskih problema na jednom mestu.Posećivali smo međunarodne kongrese i na njima uspešno prezentovali naše radove.Tako su najnovije tehnologije i materijali koji se koriste u svetskoj stomatologiji našli primenu u našoj ordinaciji.</p>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-fingerprint"></i></div>
                            <h4 class="title"><a href="">Dentist certus in re incerta cernitur</a></h4>
                            <p class="description">Pravi se stomatolog poznaje u nevolji</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-gift"></i></div>
                            <h4 class="title"><a href="">Mens sana in dentibus sano </a></h4>
                            <p class="description">U zdravim zubima zdrav duh</p>
                        </div>

                        <div class="icon-box">
                            <div class="icon"><i class="bx bx-atom"></i></div>
                            <h4 class="title"><a href="">Mundus et sanus dentes, longus amor</a></h4>
                            <p class="description">Čisti i zdravi zubi duga ljubav</p>
                        </div>

                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container">

                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="count-box">
                            <i class="fas fa-user-md"></i>
                            <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Doktori</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="far fa-hospital"></i>
                            <span data-purecounter-start="0" data-purecounter-end="18" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Specijalizacije</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="fas fa-flask"></i>
                            <span data-purecounter-start="0" data-purecounter-end="12" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Istraživanja</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                        <div class="count-box">
                            <i class="fas fa-award"></i>
                            <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1" class="purecounter"></span>
                            <p>Nagrade</p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container">

                <div class="section-title">
                    <h2>Usluge</h2>
                    <p>Sarađujemo sa profesorima sa fakulteta koji će vam pružiti određene usluge u našoj ordinaciji.Profesionalnost u radu ordinacije je na visokom nivou sto daje uslov da je pacijent subjekt a ne objekt i time se povećava kvalitet i uspeh u radu i rešavanju najkomplikovanijih stomatoloskih slučajeva na obostrano zadovoljstvo.Spoj vrhunske opreme i visoki nivo korišćenja pomenute opreme garancija je kvaliteta stomatološke usluge svake vrste koja može da pruzi naša ordinacija.</p>

                    <p>Ordinacija je opremljena:</p>
                    <h3 style="background-color:#38ACEC;">vrhunskim hirurškim laserskim i piezo uređajima</h3>
                    <h3 style="background-color:#38ACEC;">intraoralnom kamerom</h3>
                    <h3 style="background-color:#38ACEC;">sterilizacija se vrši najmodernijim uređajima sa rigoroznom dnevnom kontrolom</h3>
                    <h3 style="background-color:#38ACEC;">najsavremenijim digitalnim dijagnostičkim uređajima</h3>
                    <h3 style="background-color:#38ACEC;">Ortopan digitalno snimanje zuba</h3>
                </div>

                <div class="row">
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-heartbeat"></i></div>
                            <h4><a href="https://youtu.be/az5RtbwQ9A0">Zubni implanti</a></h4>
                            <p>U stomatološkoj ordinaciji Dental Vita Centar rade stručnjaci za sve vrste zubarskih intervencija, a posebno za implatološke zahteve.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-pills"></i></div>
                            <h4><a href="https://youtu.be/vFRFJVUahMA">Digitalna stomatologija</a></h4>
                            <p> Umetnost lepote osmeha na digitalni način.</p>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="icon-box">
                            <div class="icon"><i class="fas fa-hospital-user"></i></div>
                            <h4><a href="https://youtu.be/ol3dzqvJr2g">Dentalni turizam</a></h4>
                            <p>Besplatni smeštaj u hotelu Festina Lente u centru Prokuplja za pacijente iz inostranstva za vreme trajanja zahvata.</p>
                        </div>
                    </div>
                </div>
        </section><!-- End Services Section -->
        <!-- ======= Appointment Section ======= -->
        <!-- ======= Departments Section ======= -->
        <section id="departments" class="departments">
            <div class="container">

                <div class="section-title">
                    <h2>Specijalizacije</h2>
                    <p>Stomatologija је grana medicine, odnosno medicinska disciplina, koja se bavi proučavanjem fizioloških i patoloških stanja svih struktura usne duplje i graničnih područja, kao i prevencijom, dijagnostikom, konzervativnim i hiruškim lečenjem bolesti ovih struktura i njihovom rehabilitacijom, protetskim i ortodontskim zbrinjavanjem i drugim usko vezanim specijalnostima</p>
                </div>

                <div class="row gy-4">
                    <div class="col-lg-3">
                        <ul class="nav nav-tabs flex-column">
                            <li class="nav-item">
                                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Oralna hirurgija</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Maksilofacijalna hirurgija</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Preventivna stomatologija</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Stomatološka protetika</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Dečija stomatologija</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-6">Konzervativna stomatologija</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#tab-7">Ortodoncija</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-9">
                        <div class="tab-content">
                            <div class="tab-pane active show" id="tab-1">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Oralna hirurgija</h3>
                                        <p class="fst-italic">Oralna hirurgija je grana stomatologije koja se bavi hiruškim lečenjem tvrdih i mekih tkiva usne duplje.</p>
                                        <p>Zahvati oralne hirurgije su: vadjenje umnjaka,zubni implanti,sinus lift,cistektomija,apikotomija,gingivektomija,frenulektomija,recesija gingive,hiruško vadjenje zuba</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/oral.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-2">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Maksilofacijalna hirurgija</h3>
                                        <p class="fst-italic">Maksilofacijalna hirurgija je zdravstvena delatnost koja sintetiše znanja i metode iz medicine i stomatologije, primenjene na anatomsku regiju glave i vrata.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/maksilo.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-3">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Preventivna stomatologija</h3>
                                        <p class="fst-italic">Prevencija oboljenja usta, zuba i vilica</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/preven.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-4">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Stomatološka protetika</h3>
                                        <p class="fst-italic">Pojam zubna protetika obuhvata svaku zamenu, odnosno nadomestak za prirodni zub u slučaju da nedostaje jedan, više njih ili čak svi zubi. Postoji nekoliko vrsta protetskih nadomestaka, a to su: zubni implantati, zubne krunice, ljuskice za zube (veneers), zubni most i zubne proteze.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/protetika.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-5">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Dečija stomatologija</h3>
                                        <p class="fst-italic">Decija stomatologija je važna zato što je očuvanje zdravlja mlečnih zuba jako bitno za kasnije dobro zdravlje stalnih zuba. Takođe, od velikog značaja je i uspostavljanje dobrog odnosa sa stomatologom od malih nogu, da se ne bi razvio strah od zubara, a samim tim i izbegavanje poseta istom.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/decija.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-6">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Konzervativna stomatologija</h3>
                                        <p class="fst-italic">Конзервативна стоматологија је грана стоматологије која обухвата тзв. оперативну стоматологију (болести зуба) и ендодонцију. Иако у медицинској пракси конзервативно лечење често у себи носи смисао алтернативе хируршком лечењу, конзервативна стоматологија одступа од таквог стереотипа јер методе које се примењују у оперативној стоматологији се базирају на хируршким тј. микрохируршким концептима.</p>
                                    </div>
                                    <div class="col-lg-4 text-center order-1 order-lg-2">
                                        <img src="assets/img/konzervativa.jpg" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-7">
                                <div class="row gy-4">
                                    <div class="col-lg-8 details order-2 order-lg-1">
                                        <h3>Ortodoncija</h3>
                                        <p class="fst-italic">
                                            Ortodoncija je specijalistička grana stomatologije која se bavi ispravljanjem nepravilnog položaja zuba, као i odnosa vilica u toku rasta i razvoja i nakon toga. Bavi se proučavanjem razvojnih pčoremećaja i svih faktora koji mogu uzrokovati malokluzije. Uključuje dijagnostiku, preventivu i lečenje svih oblika nepravilnosti zuba i okolnih tkiva. Pravilno postavljeni zubi rešiće probleme upale desni i karijesa  jer će biti olakšano čišćenje zuba.
                                            Sprečiće propadanje potpornog aparata zuba, а samim tim i gubitak zuba.
                                        </p>
                                        <div class="col-lg-4 text-center order-1 order-lg-2">
                                            <img src="assets/img/ortodoncija.jpg" alt="" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </section><!-- End Departments Section -->
        <!-- ======= Doctors Section ======= -->
        <section id="doctors" class="doctors">
            <div class="container">

                <div class="section-title">
                    <h2>Doktori</h2>
                    <h3>Naš tim </h3>
                </div>

                <div class="row">

                    <div class="col-lg-6">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika1.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Ivana Lepojević</h4>
                                <span>Oralni hirurg</span>
                                <p>Specijalista oralne hirurgije </p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4 mt-lg-0">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika2.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Igor Milojević</h4>
                                <span>Maksilofacijalni hirurg</span>
                                <p>Specijalista maksilofacijalne hirurgije </p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika3.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Predrag Janošević</h4>
                                <span>Ortodoncija</span>
                                <p>Specijalista za ortodonciju</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika4.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Bojana Pribak</h4>
                                <span>Preventivna stomatologija</span>
                                <p>Specijalista za preventivnu stomatologiju</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika5.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Srdjan Djordjević</h4>
                                <span>Stomatološka protetika</span>
                                <p>Specijalista za stomatološku protetiku</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika6.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Srdjan Cvejanović</h4>
                                <span>Dečija stomatologija</span>
                                <p>Specijalista za dečiju stomatologiju</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-4">
                        <div class="member d-flex align-items-start">
                            <div class="pic"><img src="assets/img/doctors/slika7.jpg" class="img-fluid" alt=""></div>
                            <div class="member-info">
                                <h4>Dr Dušan Džipković</h4>
                                <span>Konzervativna stomatologija</span>
                                <p>Specijalista za konzercativnu stomatologiju</p>
                                <div class="social">
                                    <a href=""><i class="ri-twitter-fill"></i></a>
                                    <a href=""><i class="ri-facebook-fill"></i></a>
                                    <a href=""><i class="ri-instagram-fill"></i></a>
                                    <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Doctors Section -->
        <!-- ======= Frequently Asked Questions Section ======= -->
        <section id="faq" class="faq section-bg">
            <div class="container">

                <div class="section-title">
                    <h2>Najčešće postavljana pitanja</h2>
                    <p>Koja su to najčešće postavljana pitanja?</p>
                </div>

                <div class="faq-list">
                    <ul>
                        <li data-aos="fade-up">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">Karijes - Kako prepoznati?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-1" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Karijes najčešće prouzrokuje dentalni plak. To su naslage na zubima koje sadrže ugljene hidrate, bakterije, i sl. Ako se zubi ne peru pravilno, doći će do nakupljanja plaka i uz prisustvo bakterija (streptokoka) dolazi do stvaranja kiselih produkata koji oštecuju gleđ zuba i tako počinje karijes.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="100">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed">Zašto me zub boli na hladno, toplo, slatko, pritisak?? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Zub boli na hladno zbog izloženosti dentina zuba koji je zahvaćen karijesom, ili zbog povlačenja potpornog aparata zuba usled parodontopatije. Ako se bol javlja samo na nadražaj, kratkotrajan je i traje samo dok deluje nadražaj, problem se rešava čišćenjem karijesa i stavljanjem plombe.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="200">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed"> Da li će popravka zuba boleti? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Popravka zuba uz lokalnu anesteziju može biti potpuno bezbolna. Ali se to ne može generalizovati na apsolutno sve slučajeve. Dejstvo anestezije zavisi od toga o kojoj se bolesti zuba radi i od toga u kojoj se vilici nalazi zub koji boli.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="300">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Plombe za zube - Koliko dugo traju bele plombe? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Bele plombe za zube su takozvane kompozitne plombe. Trenutno je aktuelna sedma generacija belih plombi. Bele plombe za zube mogu da traje sigurno više od 5-6 godina.
                                </p>
                            </div>
                        </li>

                        <li data-aos="fade-up" data-aos-delay="400">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed"> Da li je zub "mrtav" kada je izvađen zubni živac?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Izvađen zubni živac ne znači da je zub mrtav. To se samo tako kaze, i nije tačno. Dok je živac u zubu bio prisutan, zub se preko njega hranio. Da li vam vađenje živca prouzrokuje probleme? Pročitajte ceo tekst da biste saznali šta je živac i šta znači kada mrtav zub boli.

                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="500">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-6" class="collapsed"> Pravilno pranje zuba - Koliko često i kako treba prati zube?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-6" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Pranje zuba se mora obavljati pravilno. U slučaju nepravilnog pranja zuba moguće je oštetiti zube a može se javiti i iritacija desni. Pranjem zuba se smanjuje broj patogenih bakterija koje izazivaju zubni kvar.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="600">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-7" class="collapsed"> Šta je zubni kamenac i da li ga treba uklanjati?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-7" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Zubni kamenac ili zubni plak nastaje mineralizacijom (očvršćavanjem) mekih naslaga na zubima a u njega se ugrađuju i magnezijumove i druge soli iz pljuvačke. Zubni kamenac je žućkaste boje, ali dolazi do njegovog prebojavanja pigmentima iz hrane i pića.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="700">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-8" class="collapsed">Kada dete treba prvi put odvesti zubaru?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-8" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Dete je najbolje odvesti prvi put kod zubara dok nema probleme sa zubima. Posete stomatologu je potrebno započeti sa dve, a najkasnije sa dve i po godine starosti deteta. To je potrebno kako bi se kontrolisalo zdravlje usne duplje deteta, a ujedno i dete priviklo na lekara i ambijent ordinacije.
                                </p>
                            </div>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="800">
                            <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-9" class="collapsed">Mlečni zubi - Da li treba popravljati?<i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                            <div id="faq-list-9" class="collapse" data-bs-parent=".faq-list">
                                <p>
                                    Mlecni zubi se takođe kvare, najčešće kada deca unose previše šećera (uključujući i voćne sokove). Mlečne zube treba popravljati, pošto je njihovo zdravlje veoma bitno za pravilan razvoj vilica. Mlečne zube treba tretirati isto kao i stalne.



                                </p>
                            </div>
                        </li>

                    </ul>
                </div>

            </div>
        </section><!-- End Frequently Asked Questions Section -->
        <!-- ======= Testimonials Section ======= -->
        <!-- End Testimonials Section -->
        <!-- ======= Gallery Section ======= -->
        <section id="gallery" class="gallery">
            <div class="container">

                <div class="section-title">
                    <h2>Galerija</h2>
                    <p></p>
                </div>
            </div>

            <div class="container-fluid">
                <div class="row g-0">

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija1.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija1.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija2.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija2.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija7.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija7.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija41.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija41.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/laza.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/laza.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija61.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija61.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija3.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija3.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4">
                        <div class="gallery-item">
                            <a href="assets/img/gallery/galerija81.jpg" class="galelry-lightbox">
                                <img src="assets/img/gallery/galerija81.jpg" alt="" class="img-fluid">
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Gallery Section -->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container">

                <div class="section-title">
                    <h2>Kontakt</h2>
                    <p></p>
                </div>
            </div>

            <div>
                <iframe style="border:0; width: 100%; height: 350px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="container">
                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Lokacija:</h4>
                                <p>Prokuplje,Srbija,XXI Srpska Divizija</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>dentalvitacentar@example.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Broj:</h4>
                                <p>+1 5589 55488 55</p>
                            </div>

                        </div>

                    </div>

                    <!-- End Contact Section -->

    </main><!-- End #main -->
    <!-- ======= Footer ======= -->
    @Html.Partial("_Footer");

    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>

</body>

</html>